<basdepage>

<footer>
	<ul>
		<li><a href="http://www.iutsf.u-pec.fr" target="_blank"><img src="https://dwarves.iut-fbleau.fr/~dacostal/music/images/upec.svg" width="120" height="56" alt=""></a></li>
		<li>&#169; 2020</li>
		<li>Léa DA COSTA</li>
		<li>Tous droits réservés</li>
	</ul>
</footer>

</basdepage>